.conter {
	width: 100%;
	float: left;
}

.conter_ban {
	width: 1000px;
	margin: 0px auto;
	height: 400px;
	margin-top: 45px;
	overflow: hidden;
}

.conter_nav {
	width: 1000px;
	margin: 0px auto;
	margin-top: 22px;
}

.conter_left {
	width: 326px;
	float: left;
}

.conter_s {
	float: right;
	margin-top: 16px;
	font-size: 12px;
	color: #655e54;
	font-family: "宋体";
	margin-right: 15px;
}

.conter_ol {
	margin-top: 20px;
}

.conter_ol ol {
	line-height: 20px;
}

.conter_ol ol li a {
	color: #3c3b3b;
	font-size: 12px;
}

.conter_ol .conter_date {
	float: right;
	margin-right: 15px;
}

.conter_right {
	float: right;
	width: 668px;
	height: auto;
	overflow: hidden;
}

.conter_show {
	float: left;
	width: 668px;
}

.conter_show img {
	margin-left: 132px;
}

#swiper-container2 {
	width: 668px;
	height: auto;
	float: right;
	margin-top: 35px;
}

.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#swiper-slide2 img {
	margin-left: 15px;
}